<!-- resident LIST ITEMS -->
<div class="mail-list-item" ng-repeat="resident in vm.residentList"
     md-ink-ripple
     ng-click="vm.selectResident(resident)"
     ng-class="{ 'selected': vm.selectedResident._id === resident._id}">

    <div layout="row" layout-align="start center">


        <div class="info" flex layout="column">
            <div class="name" layout="row" layout-align="start center">
                <img class="avatar" ng-if="resident.from.avatar" alt="{{resident.firstName}}" ng-src="{{resident.firstName}}"/>

                <div class="avatar" ng-if="!resident.from.avatar" ms-random-class="vm.colors">
                    {{resident.firstName}}
                </div>

                <span class="text-truncate">{{vm.displayName(resident)}}</span>
            </div>
        </div>

        <div ng-if="resident.fieldType" class="md-item-text md-whiteframe-z1 field-type">
          <b>{{resident.fieldType}}</b>

        </div>

        <div class="md-item-text md-whiteframe-z1 care-points">
          <b>{{resident.carePoints}}</b>
          <md-tooltip>
            Care Points
          </md-tooltip>
        </div>

        <div layout="column" layout-align="space-between end">

             <md-button class="md-accent md-raised" ng-click="vm.updateResident(resident)">Update</md-button>
        </div>
    </div>
</div>
<!-- / resident LIST ITEMS -->
