<!-- CARD DIALOG -->
<md-dialog class="card-dialog" aria-label="Card Dialog" ng-cloak id="issueModal">


  <!-- DIALOG TOOLBAR -->
  <md-toolbar class="md-accent" ng-class="'md-'+vm.board.settings.color+'-bg'">
    <div class="md-toolbar-tools">

      <!-- DUE DATE -->
      <div class="due-date">
        <div ng-if="!vm.card.currdue" moment-picker="vm.card.currdue" format="x" min-view="year" max-view="month" start-view="month">
          <md-button class="md-icon-button" aria-label="Due date" translate translate-attr-aria-label="SB.DUE_DATE" ng-click="$mdOpenMenu($event)">
            <md-tooltip>Due Date</md-tooltip>
            <md-icon md-font-icon="icon-calendar"></md-icon>
          </md-button>
        </div>
      </div>
      <!-- / DUE DATE -->

      <!-- MEMBERS -->
      <md-menu md-offset="0 48" class="members">
        <md-button class="md-icon-button" aria-label="Members" ng-click="$mdOpenMenu($event)">
          <md-tooltip>Members</md-tooltip>
          <md-icon md-menu-origin md-font-icon="icon-account-multiple"></md-icon>
        </md-button>

        <md-menu-content class="members-menu-content" width="4" ms-scroll>
          <md-menu-item>
            <md-input-container class="no-errors-spacer" md-no-float>
              <input placeholder="Search members..." autocomplete="off" type="text" ng-model="vm.memberSearchText" translate translate-attr-placeholder="SB.SEARCH_MEMBERS">
            </md-input-container>
          </md-menu-item>

          <md-menu-item class="member" ng-repeat="member in vm.members  | filter: vm.filterMember">
            <md-button ng-fclick="vm.addMembers(member, vm.card.idMembers)" md-prevent-menu-close aria-label="toggle member" translate translate-attr-aria-label="SB.TOGGLE_MEMBER">
              <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                  <img class="avatar" alt="{{member.name}}" ng-src="{{member.userImage || 'assets/images/avatars/userDefaultProfile.png'}}" />
                  <p class="member-name">{{ member.name }}</p>
                </div>
                <i class="icon-check s16" ng-if="vm.existsMembers(member, vm.card.idMembers)"></i>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- / MEMBERS -->

      <!-- ATTACHMENT -->
      <md-menu md-offset="0 48px" class="options">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Attachment" translate translate-attr-aria-label="SB.ATTACHMENT">
          <md-tooltip>Attachments</md-tooltip>
          <md-icon md-font-icon="icon-attachment"></md-icon>
        </md-button>
        <md-menu-content class="options-menu-content" width="4">
          <md-menu-item>
            <md-button type="file" ngf-select="vm.uploadFiles($file, $invalidFiles, vm.card)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB">
              <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
              <span>Add attachment</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- / ATTACHMENT -->

      <!-- CHECKLIST -->
      <md-menu md-offset="0 48px" class="checklist">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="checklist" translate translate-attr-aria-label="SB.CHECKLIST">
          <md-tooltip>Checklists</md-tooltip>
          <md-icon md-menu-origin md-font-icon="icon-checkbox-marked"></md-icon>
        </md-button>

        <md-menu-content class="checklist-menu-content" width="4">
          <form ng-submit="vm.createCheckList()" layout="column" layout-align="start end">
            <md-input-container class="no-errors-spacer" md-no-float>
              <input placeholder="Checklist Title" autocomplete="off" type="text" ng-model="vm.newCheckListTitle" translate translate-attr-placeholder="SB.CHECKLIST_TITLE">
            </md-input-container>

            <md-button type="submit" class="md-raised md-accent" aria-label="Add Checklist" translate translate-attr-aria-label="SB.ADD_CHECKLIST">
              <span translate="SB.ADD_CHECKLIST">Add Checklist</span>
            </md-button>
          </form>
        </md-menu-content>
      </md-menu>
      <!-- / CHECKLIST -->

      <!-- LABELS -->
      <md-menu md-offset="0 48" class="labels">
        <md-button class="md-icon-button" aria-label="Label" translate translate-attr-aria-label="SB.LABEL" ng-click="vm.labelTabIndex = 0;$mdOpenMenu($event)">
          <md-tooltip>Labels</md-tooltip>
          <md-icon md-menu-origin md-font-icon="icon-label-outline"></md-icon>
        </md-button>

        <md-menu-content class="labels-menu-content" width="4" ms-scroll>
          <md-tabs md-selected="vm.labelTabIndex" md-dynamic-height>

            <md-tab>
              <md-tab-body>
                <md-menu-item>
                  <md-input-container class="no-errors-spacer" md-no-float>
                    <input placeholder="Search labels..." type="text" ng-model="vm.labelSearchText" autocomplete="off" translate-attr-palceholder="SB.SEARCH_LABELS">
                  </md-input-container>
                </md-menu-item>

                <md-menu-item class="label" ng-repeat="label in vm.board.labels | filter: vm.filterLabel">
                  <md-button class="label-toggle-button" md-prevent-menu-close ng-class="'md-'+label.color+'-bg'" ng-click="vm.addLabelToCard(label._id)" aria-label="Toggle Label" translate translate-attr-aria-label="SB.TOGGLE_LABEL">
                    <div layout="row" layout-align="space-between center">
                      <span>{{label.name}}</span>
                      <i ng-if="vm.isLabelInCard(label._id)" class="icon-check s16"></i>
                    </div>
                  </md-button>
                  <md-button class="md-icon-button label-edit-button" md-prevent-menu-close ng-click="vm.editLabel(label._id)" aria-label="Edit Label" translate translate-attr-aria-label="SB.EDIT_LABEL">
                    <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                  </md-button>
                </md-menu-item>

                <md-menu-divider></md-menu-divider>

                <md-menu-item>
                  <md-button class="add-label-button" md-prevent-menu-close ng-click="vm.labelTabIndex = 1">
                    <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                    <span translate="SB.ADD_NEW_LABEL">Add new label</span>
                  </md-button>
                </md-menu-item>
              </md-tab-body>
            </md-tab>

            <md-tab>
              <md-tab-body>
                <div class="add-label-tab-content">
                  <div class="header" layout="row" layout-align="space-between center">
                    <md-button class="md-icon-button" md-prevent-menu-close ng-click="vm.labelTabIndex = 0" aria-label="Back" translate translate-attr-aria-label="SB.BACK">
                      <i class="icon-arrow-left s20"></i>
                    </md-button>
                    <span flex translate="SB.CREATE_LABEL">Create Label</span>
                  </div>

                  <div class="content" layout="column" layout-align="start stretch">
                    <form ng-submit="vm.addNewLabel(); vm.labelTabIndex = 0" layout="column">
                      <md-input-container class="no-errors-spacer" md-no-float>
                        <input placeholder="Label Name" type="text" ng-model="vm.newLabelName" translate translate-attr-placeholder="SB.LABEL_NAME">
                      </md-input-container>

                      <div class="label-color-picker" layout="row" layout-wrap>
                        <label class="color" ng-repeat="(palette, hues) in vm.palettes" ng-style="{'background-color': vm.rgba(hues['500'].value), 'color': vm.rgba(hues['500'].contrast, 1)}" layout="column" layout-align="center center">
                          <input class="ng-hide" type="radio" ng-model="vm.newLabelColor" ng-value="palette" aria-label="{{palette}}">
                          <i class="icon-check s18" ng-if="vm.newLabelColor === palette"></i>
                        </label>
                      </div>

                      <md-button type="submit" md-prevent-menu-close class="create-button md-accent md-raised" aria-label="Create" translate translate-attr-aria-label="SB.CREATE">
                        <span translate="SB.CREATE">Create</span>
                      </md-button>
                    </form>

                  </div>
                </div>
              </md-tab-body>
            </md-tab>

            <md-tab>
              <md-tab-body>
                <div class="edit-label-tab-content">

                  <div class="header" layout="row" layout-align="space-between center">
                    <md-button class="md-icon-button" md-prevent-menu-close ng-click="vm.labelTabIndex = 0" aria-label="back" translate translate-attr-aria-label="SB.BACK">
                      <i class="icon-arrow-left s20"></i>
                    </md-button>
                    <span flex translate="SB.EDIT_LABEL">Edit Label</span>
                  </div>

                  <div class="content" layout="column" layout-align="start stretch">
                    <md-input-container class="no-errors-spacer" md-no-float>
                      <input placeholder="Label Name" type="text" ng-blur="vm.updateLabel(vm.editLabelId)" ng-model="vm.board.labels.getById(vm.editLabelId).name" translate translate-attr-placeholder="SB.LABEL_NAME">
                    </md-input-container>

                    <div class="label-color-picker" layout="row" layout-wrap>
                      <label class="color" ng-repeat="(palette, hues) in vm.palettes" ng-style="{'background-color': vm.rgba(hues['500'].value), 'color': vm.rgba(hues['500'].contrast, 1)}" layout="column" layout-align="center center">
                        <input class="ng-hide" type="radio" ng-model="vm.board.labels.getById(vm.editLabelId).color" ng-value="palette" ng-click="vm.updateLabel(vm.editLabelId)" aria-label="{{palette}}">
                        <i ng-if="vm.board.labels.getById(vm.editLabelId).color === palette" class="icon-check s18"></i>
                      </label>
                    </div>

                    <div layout="row" layout-align="end center" flex>
                      <md-button class="remove-button md-icon-button" type="submit" md-prevent-menu-close ng-click="vm.removeLabel(); vm.labelTabIndex=0" aria-label="remove" translate translate-attr-aria-label="SB.REMOVE">
                        <md-icon md-font-icon="icon-delete"></md-icon>
                      </md-button>
                    </div>
                  </div>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </md-menu-content>
      </md-menu>
      <!-- / LABELS -->

      <!-- EXPORT -->
      <md-button class="md-icon-button"
        ng-click="vm.exportIssue()"
        aria-label="Options"
        translate
        translate-attr-aria-label="SB.OPTIONS">
        <md-tooltip>Export</md-tooltip>
        <md-icon md-menu-origin md-font-icon="icon-export"></md-icon>
      </md-button>
      <!-- / EXPORT -->

      <!-- WORD CLOUD -->
      <md-button class="md-icon-button" ng-click="vm.wordCloud()" aria-label="WordCloud">
        <md-tooltip>Word Cloud</md-tooltip>
        <md-icon md-menu-origin md-font-icon="icon-cloud"></md-icon>
      </md-button>
      <!-- / WORD CLOUD -->

      <md-icon ng-if="vm.card.confidential" md-menu-origin md-font-icon="icon-lock">
        <md-tooltip>
          Confidential
        </md-tooltip>
      </md-icon>

      <span flex></span>

      <!-- CLOSE DIALOG BUTTON -->
      <md-button class="md-icon-button"
        ng-click="vm.closeDialog()"
        aria-label="Close Dialog"
        translate
        translate-attr-aria-label="SB.CLOSE_DIALOG">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
      <!-- / CLOSE DIALOG BUTTON -->

    </div>
  </md-toolbar>
  <!-- / DIALOG TOOLBAR -->

  <!-- DIALOG CONTENT -->
  <md-dialog-content ms-scroll>

    <!-- DUE DATE -->
    <div ng-if="vm.card.currdue" class="due-date" layout="row" layout-align="space-between center">
      <div class="section-header" layout="row" layout-align="start center">
        <i class="icon-attachment s18"></i>
        <span class="section-title" translate="SB.DUE_DATE">Due Date</span>
      </div>

      <div ng-if="vm.card.currdue" class="due-date" layout="row" layout-align="end center">
        <div layout="row" layout-align="start center">
          <i class="s18 icon icon-calendar"></i>
          <span>{{vm.card.currdue | date}}</span>
        </div>

        <div class="remove-due-date" layout="row" layout-align="center center" ng-click="vm.removeDueDate()">
          <i class="s16 icon icon-close"></i>
        </div>
      </div>
    </div>
    <!-- / DUE DATE -->

    <div class="sections">
      <div class="section">
        <md-input-container class="md-block">
          <label>Title</label>
          <input ng-disabled="vm.userid !== vm.card.submitBy._id"
            ng-model="vm.card.name"
            type="text"
            ng-blur="vm.updateIssue()"
            focus>
        </md-input-container>


        <!-- DESCRIPTION -->
        <md-input-container class="md-block">
          <label translate="SB.DESCRIPTION">Description</label>
          <textarea ng-disabled="vm.userid !== vm.card.submitBy._id"
            ng-model="vm.card.description"
            ng-blur="vm.updateIssue()"
            columns="1"></textarea>
        </md-input-container>
        <!-- / DESCRIPTION -->

        <!-- resolutionTimeframe -->
        <md-input-container class="md-block">
          <label>Resolution Time Frame</label>
          <md-select ng-disabled="vm.userid !== vm.card.submitBy._id"
            ng-model="vm.card.resolutionTimeframe"
            ng-change="vm.updateIssue()"
            placeholder="Time Frame"
            required>
            <md-option value="Hours">Hours</md-option>
            <md-option value="Days">Days</md-option>
            <md-option value="Weeks">Weeks</md-option>
            <md-option value="Months">Months</md-option>
          </md-select>
        </md-input-container>

        <!-- issue status -->
        <md-input-container class="md-block">
          <md-tooltip ng-if="vm.userRole !== 'directors' && vm.userRole !== 'boss' && vm.userRole !== 'creator'">
            Not Editable by Minions
          </md-tooltip>
          <label>Status</label>
          <md-select
            ng-disabled="vm.userRole !== 'directors' && vm.userRole !== 'boss' && vm.userRole !== 'creator'"
            ng-model="vm.card.status"
            ng-change="vm.changeStatus()"
            placeholder="Issue Status"
            required>
            <md-option value="Open">Open</md-option>
            <md-option value="Shelved">Shelved</md-option>
            <md-option value="Closed">
              <span ng-if="vm.card.finalPlan.length <= 0" style="color: lightgrey">
              Closed
              </span>
              <span ng-if="vm.card.finalPlan.length > 0">Closed</span>
            </md-option>
          </md-select>
        </md-input-container>

        <!-- Responsible party -->
        <md-input-container class="md-block">
          <md-autocomplete required=""
            md-selected-item="vm.selectedItem"
            md-search-text="searchText"
            md-floating-label="Responsible Party"
            md-items="item in vm.getMatches(searchText)"
            md-item-text="item.display"
            md-min-length="0"
            md-selected-item-change="vm.changeResponsibleParty()">
            <md-item-template>
              <span md-highlight-text="searchText">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
              No Users Found
            </md-not-found>
          </md-autocomplete>
        </md-input-container>

        <!-- SECTIONS -->

        <!-- LABELS SECTION -->

        <div flex class="labels">
          <div class="section-header" layout="row" layout-align="start center">
            <i class="icon-label-outline s18"></i>
            <span class="section-title" translate="SB.LABELS">Labels</span>
          </div>
          <div class="section-content">
            <md-chips class="label-chips" ng-model="vm.card.labels" md-transform-chip="$chip">
              <md-autocomplete md-selected-item="vm.selectedLabel"
                md-search-text="vm.searchLabelText"
                md-items="label in vm.labelQuerySearch(vm.searchLabelText)"
                md-item-text="label.name"
                placeholder="Search for a label">
                <span md-highlight-text="vm.searchLabelText">{{label.name}}</span>
              </md-autocomplete>
              <md-chip-template class="label-chip" ng-class="'md-'+$chip.color+'-bg'">
                <span>{{$chip.name}}</span>
              </md-chip-template>
              <button md-chip-remove class="md-primary" ng-click="vm.removeLabel($chip)">
                <md-icon md-font-icon="icon-close" class="s18"></md-icon>
              </button>
            </md-chips>
          </div>
        </div>

        <div class="section-header" layout="row" layout-align="start center">
          <i class="icon-account-multiple s18"></i>
          <span class="section-title" translate="SB.MEMBERS">Members</span>
        </div>
        <div class="section-content">
          <md-chips class="member-chips"
            ng-model="vm.card.idMembers"
            md-transform-chip="$chip.id"
            md-autocomplete-snap md-require-match="true">
            <md-autocomplete md-selected-item="vm.selectedMember"
              md-search-text="vm.searchText"
              md-items="member in vm.memberQuerySearch(vm.searchText)"
              md-item-text="member.name"
              placeholder="Search for a member"
              md-selected-item-change="vm.addMemberAutoComplete(vm.selectedMember)">
              <span md-highlight-text="vm.searchText">{{member.name}}</span>
            </md-autocomplete>
            <md-chip-template class="member-chip">
              <span>{{ $chip.name }}</span>
            </md-chip-template>
            <button md-chip-remove class="md-primary" ng-click="vm.memberUpdate($chip.name)">
              <md-icon md-font-icon="icon-close" class="s18"></md-icon>
            </button>
          </md-chips>
        </div>


        <!-- ATTACHMENTS SECTION -->
        <div class="section">
          <div class="attachments">

            <div class="section-header" layout="row" layout-align="start center">
              <i class="icon-attachment s18"></i>
              <span class="section-title" translate="SB.ATTACHMENTS">Attachments</span>
            </div>

            <div class="section-content">

              <div class="attachment" ng-repeat="item in vm.card.attachments">
                <div layout="row">
                  <div ng-click="vm.openImage(item.url)"
                    class="attachment-preview md-whiteframe-2dp"
                    ng-style="{'background-image': 'url({{item.url}})'}">
                  </div>
                  <div class="attachment-content" layout="column">

                    <div layout="row" layout-align="start center">
                      <span class="attachment-name">{{item.name}}</span>
                      <i ng-if="vm.card.idAttachmentCover === item.id"
                        class="icon-star yellow-700-fg attachment-is-cover s18"></i>
                    </div>

                    <span class="attachment-time">{{item.time}}</span>

                    <md-menu>
                      <md-button class="md-raised attachment-actions-button"
                        ng-click="$mdOpenMenu($event)"
                        aria-label="attachment actions">
                        <span layout="row" layout-align="center center">
                        <span translate="SB.ACTIONS">Actions</span>
                        <i class="icon-chevron-down s20"></i>
                        </span>
                      </md-button>

                      <md-menu-content>
                        <md-menu-item>
                          <md-button ng-click="vm.removeAttachment(item)"
                            aria-label="Remove Attachment"
                            translate translate-attr-aria-label="SB.REMOVE_ATTACHMENT">
                            <span translate="SB.REMOVE_ATTACHMENT">Remove Attachment</span>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </div>
                </div>
              </div>

              <md-button type="file"
                ngf-select="vm.uploadFiles($file, $invalidFiles, vm.card)"
                class="add-attachment-button" a
                ria-label="add attachment"
                accept="image/*"
                ngf-max-height="1000"
                ngf-max-size="3MB">
                <div layout="row" layout-align="start center">
                  <i class="icon-plus s20"></i>
                  <span translate="SB.ADD_AN_ATTACHMENT">Add an attachment</span>
                </div>
              </md-button>
            </div>
          </div>
        </div>
        <!-- / ATTACHMENTS SECTION -->

        <!-- CHECKLISTS SECTION -->
        <div class="section" ng-repeat="checklist in vm.card.checklists">
          <div class="checklist">
            <div class="section-header" layout="row" layout-align="start center">
              <i class="icon-checkbox-marked s18"></i>
              <span class="section-title"
                e-rows="1"
                e-cols="60"
                editable-textarea="checklist.checklistName">{{checklist.checklistName}}
              </span>

              <md-menu md-position-mode="target-right target" class="options">
                <md-button class="md-icon-button"
                  ng-click="$mdOpenMenu($event)"
                  aria-label="options"
                  translate
                  translate-attr-aria-label="SB.OPTIONS">
                  <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                </md-button>

                <md-menu-content class="options-menu-content" width="4">
                  <md-menu-item>
                    <md-button ng-click="vm.removeChecklist(checklist)"
                      aria-label="Remove Checklist"
                      translate
                      translate-attr-aria-label="SB.REMOVE_CHECKLIST">
                      <md-icon md-font-icon="icon-delete"></md-icon>
                      <span translate="SB.REMOVE_CHECKLIST">Remove Checklist</span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>

            <div class="section-content">

              <div class="checklist-progress" layout="row" layout-align="start center">
                <span class="checklist-progress-value">
                               {{checklist.checkItemsChecked}} / {{checklist.checkItems.length}}
                           </span>

                <md-progress-linear class="md-accent checklist-progressbar"
                  md-mode="determinate"
                  value="{{100 * checklist.checkItemsChecked / checklist.checkItems.length}}">
                </md-progress-linear>
              </div>

              <div class="check-items">
                <div class="check-item" ng-repeat="checkItem in checklist.checkItems">
                  <md-checkbox ng-model="checkItem.checked"
                    ng-change="vm.updateCheckedCount(checklist, checkItem)"
                    aria-label="{{checkItem.name}}">
                  </md-checkbox>

                  <a ng-if="checkItem.checked"
                    href="#" style="text-decoration: line-through;"
                    editable-textarea="checkItem.name"
                    e-rows="7"
                    e-cols="40"
                    onaftersave="vm.updateCheckItem(checklist, $index, checkItem)">{{checkItem.name}}
                  </a>
                  <a ng-if="!checkItem.checked"
                    href="#" editable-textarea="checkItem.name"
                    e-rows="3" e-cols="60"
                    onaftersave="vm.updateCheckItem(checklist, $index, checkItem)">{{checkItem.name}}
                  </a>
                </div>
              </div>

              <form name="newCheckItemForm"
                class="new-check-item-form"
                ng-submit="vm.addCheckItem(checklist.newCheckItem, checklist);checklist.newCheckItem = ''"
                layout="row"
                layout-align="start center">
                <md-input-container class="no-errors-spacer" flex>
                  <label layout="row" layout-align="center">
                    <i class="icon-plus s18"></i>
                    <span translate="SB.ADD_AN_ITEM">Add an item</span>
                  </label>
                  <input type="text" autocomplete="off" ng-model="checklist.newCheckItem">
                </md-input-container>

                <md-button type="submit"
                  class="md-raised md-accent"
                  aria-label="Add"
                  translate translate-attr-aria-label="SB.ADD">
                  <span translate="SB.ADD">Add</span>
                </md-button>
              </form>

            </div>
          </div>
        </div>
        <!-- / CHECKLISTS SECTION -->

        <!-- COMMENTS SECTION -->
        <div class="section">
          <div class="comments">

            <div class="section-header" layout="row" layout-align="start center">
              <i class="icon-comment s18"></i>
              <span class="section-title">Comments</span>
            </div>

            <div class="section-content">
              <form name="cardCommentForm"
                ng-submit="vm.addNewComment(vm.newCommentText); vm.newCommentText =''"
                class="comment new-comment"
                layout="column"
                layout-align="start"
                no-validate>

                <md-input-container flex md-no-float>
                  <textarea wrap="hard"
                    cols="30"
                    placeholder="Write a comment.."
                    ng-model="vm.newCommentText"
                    required
                    translate
                    translate-attr-placeholder="SB.WRITE_A_COMMENT">
                  </textarea>
                </md-input-container>

                <div layout="row" layout-align="end center">
                  <md-button type="submit" class="md-raised md-accent" aria-label="Add">
                    <span translate="SB.ADD">Add</span>
                  </md-button>
                </div>
              </form>

              <div class="comment"
                layout="row"
                ng-repeat="comment in vm.card.comments.slice().reverse()">
                <img ng-if="comment.author.userImage !== undefined"
                  class="comment-member-avatar"
                  ng-src="{{comment.author.userImage}}">
                <img ng-if="comment.author.userImage === undefined"
                  class="comment-member-avatar"
                  ng-src="https://s3-us-west-2.amazonaws.com/apilatest2/logo.png">

                <div layout="column">
                  <div class="comment-member-name">
                    {{comment.author.name}}
                    <span class="comment-time secondary-text">{{vm.Utils.timeDiff(comment.createdOn)}}</span>
                    <span class="comment-time secondary-text comment-date">{{ comment.createdOn | date:'h:mm a MMM dd, yyyy'}} </span>
                  </div>
                  <div class="comment-bubble"
                    wrap="hard"
                    onaftersave="vm.updateComment(comment)"
                    editable-textarea="comment.commentText"
                    ng-trim="false"
                    e-rows="7"
                    e-cols="50">{{vm.changeComment(comment.commentText)}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- / COMMENTS -->

        <!-- PLAN -->
        <div class="section">
          <div class="comments">

            <div class="section-header" layout="row" layout-align="start center">
              <i class="icon-clipboard-check s18"></i>
              <span class="section-title">Plan</span>
            </div>

            <div class="section-content">
              <form name="cardCommentForm"
                ng-submit="vm.addFinalPlan()"
                class="comment final-plan-new"
                layout="column"
                layout-align="start"
                no-validate>

                <md-input-container flex md-no-float>
                  <textarea ms-scroll placeholder="Issue's Plan"
                    ng-model="vm.newFinalPlanText"
                    required
                    translate
                    translate-attr-placeholder="SB.FINAL_PLAN">
                  </textarea>
                </md-input-container>

                <div layout="row" layout-align="end center">

                  <span ng-if="vm.finalPlanChecklist">Finshed Item   </span>
                  <span ng-if="!vm.finalPlanChecklist">Add to todo   </span>

                  <md-switch ng-model="vm.finalPlanChecklist" aria-label="">
                  </md-switch>

                  <md-button type="submit" class="md-raised md-accent" aria-label="Add Item">
                    <span translate="SB.FINAL_PLAN_ADD">Add Item</span>
                  </md-button>
                </div>
              </form>
            </div>

            <h3 ng-if="vm.card.finalPlan.length > 0">The plan to solve the issue: </h3>

            <div class="comment"
              layout="row"
              ng-repeat="comment in vm.card.finalPlan.slice().reverse()">

              <img ng-if="comment.author.userImage !== undefined"
                class="comment-member-avatar"
                ng-src="{{comment.author.userImage}}">
              <img ng-if="comment.author.userImage === undefined"
                class="comment-member-avatar"
                ng-src="https://s3-us-west-2.amazonaws.com/apilatest2/logo.png">

              <div layout="column">
                <div class="comment-member-name">
                  {{comment.author.name}}
                  <span class="comment-time secondary-text">{{vm.Utils.timeDiff(comment.createdOn)}}</span>
                  <span class="comment-time secondary-text comment-date">{{ comment.createdOn | date:'h:mm a MMM dd, yyyy'}} </span>
                </div>
                <div class="comment-bubble"
                  onaftersave="vm.updateComment(comment)"
                  editable-textarea="comment.text"
                  ng-trim="false"
                  e-rows="7"
                  e-cols="50">{{vm.changeComment(comment.text)}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- / PLAN -->

        <!-- UPDATES SECTION -->
        <div class="section">
          <div class="activities">
            <div class="section-header" layout="row" layout-align="start center">
              <i class="icon-format-list-bulleted s18"></i>
              <span class="section-title">Updates</span>
            </div>
            <div class="section-content">
              <h5>{{ vm.createdIssue }}</h5>
              <div class="activity"
                layout="row"
                layout-align="start center"
                ng-repeat="update in vm.card.updateInfo.slice().reverse()">
                <ul>
                  <li ng-repeat="f in vm.formatUpdateArray(update.updateField, update.updateBy, update.updateDate) ">
                    <img class="activity-member-avatar" ng-src="{{f.userImage}}">
                    <span class="activity-member-name"> {{ f.userName }} </span>
                    <span>{{ f.infoFormated }}
                      <md-tooltip ng-if="f.tooltip" md-direction="top">
                        {{ f.tooltip }}
                      </md-tooltip>
                    </span>
                    <span class="activity-time secondary-text">{{ f.timeDiff }} </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- / UPDATES SECTION -->

      </div>
      <!-- / SECTIONS -->

  </md-dialog-content>
  <!-- / DIALOG CONTENT -->

</md-dialog>
<!-- / CARD DIALOG -->
