<md-dialog class="task-dialog" aria-label="New Task">
    <form name="taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>

        </md-toolbar>

        <md-dialog-content ms-scroll>

          <!-- <div layout="row" layout-align="start"> -->

            <div class="md-block">
             <label ng-switch on="vm.form.occurrence">
                 <span ng-switch-when="0">Occurrence : Hourly</span>
                 <span ng-switch-when="1">Occurrence : Daily</span>
                 <span ng-switch-when="2">Occurrence : Weekly</span>
                 <span ng-switch-when="3">Occurrence : Monthly</span>
                 <span ng-switch-default>Occurrence : </span>
             </label>
             <md-slider flex min="0" max="3" ng-model="vm.form.occurrence" aria-label="blue" md-vertical>
             </md-slider>
           </div>

           <div layout="row" layout-align="start" ng-if="vm.form.occurrence == 0 || vm.form.occurrence == 1">
             <md-checkbox ng-model="vm.form.activeDays[0]" class="days">Mon</md-checkbox>
             <md-checkbox ng-model="vm.form.activeDays[1]" class="days">Tue</md-checkbox>
             <md-checkbox ng-model="vm.form.activeDays[2]" class="days">Wed</md-checkbox>
             <md-checkbox ng-model="vm.form.activeDays[3]" class="days">Thu</md-checkbox>
             <md-checkbox ng-model="vm.form.activeDays[4]" class="days">Fri</md-checkbox>
             <md-checkbox ng-model="vm.form.activeDays[5]" class="days">Sat</md-checkbox>
             <md-checkbox ng-model="vm.form.activeDays[6]" class="days">Sun</md-checkbox>
           </div>

           <rzslider rz-slider-model="vm.slider.minValue"
                rz-slider-high="vm.slider.maxValue" ng-if="vm.form.occurrence == 0"
                rz-slider-options="vm.slider.options"></rzslider>

             <div layout="column" ng-if="vm.form.occurrence === 2" flex>
              <md-switch ng-model="vm.form.everyWeek" aria-label="Every Week" ng-if="vm.form.occurrence == 2">
                Every Week
              </md-switch>

              <md-checkbox ng-model="vm.form.activeWeeks[0]" aria-label="First Week of each Month" ng-disabled="vm.form.everyWeek">
               First Week of each Month
             </md-checkbox>

              <md-checkbox ng-model="vm.form.activeWeeks[1]" aria-label="Second Week of each Month" ng-disabled="vm.form.everyWeek">
               Second Week of each Month
             </md-checkbox>

             <md-checkbox ng-model="vm.form.activeWeeks[2]" aria-label="Third Week of each Month" ng-disabled="vm.form.everyWeek">
              Third Week of each Month
            </md-checkbox>

              <md-checkbox ng-model="vm.form.activeWeeks[3]" aria-label="Fourth Week of each Month" ng-disabled="vm.form.everyWeek">
               Fourth Week of each Month
             </md-checkbox>

               <md-checkbox ng-model="vm.form.activeWeeks[4]" aria-label="Checkbox 1" ng-disabled="vm.form.everyWeek">
                Last Week of each Month
              </md-checkbox>

           </div>


           <div layout="column" ng-if="vm.form.occurrence === 3" flex>

           <div layout="row" layout-align="space-around center">
                <md-checkbox ng-model="vm.form.activeMonths[0]" aria-label="Jan">
                 Jan
               </md-checkbox>

                <md-checkbox ng-model="vm.form.activeMonths[1]" aria-label="Feb">
                 Feb
               </md-checkbox>

               <md-checkbox ng-model="vm.form.activeMonths[2]" aria-label="Mar">
                Mar
              </md-checkbox>

              <md-checkbox ng-model="vm.form.activeMonths[3]" aria-label="Apr">
               Apr
             </md-checkbox>

              <md-checkbox ng-model="vm.form.activeMonths[4]" aria-label="May">
               May
             </md-checkbox>

             <md-checkbox ng-model="vm.form.activeMonths[5]" aria-label="Jun">
              Jun
            </md-checkbox>
          </div>

          <div layout="row" layout-align="space-around center">
             <md-checkbox ng-model="vm.form.activeMonths[6]" aria-label="Jul">
              Jul
            </md-checkbox>

             <md-checkbox ng-model="vm.form.activeMonths[7]" aria-label="Aug">
              Aug
            </md-checkbox>

            <md-checkbox ng-model="vm.form.activeMonths[8]" aria-label="Sept">
             Sept
           </md-checkbox>

           <md-checkbox ng-model="vm.form.activeMonths[9]" aria-label="Oct">
            Oct
          </md-checkbox>

           <md-checkbox ng-model="vm.form.activeMonths[10]" aria-label="Nov">
            Nov
          </md-checkbox>

          <md-checkbox ng-model="vm.form.activeMonths[11]" aria-label="Dec">
           Dec
         </md-checkbox>
         </div>

         </div>

              <br />
              <br />


            <md-input-container class="md-block">
                <label translate="TODO.DESCRIPTION">Task description</label>
                <textarea name="description" ng-model="vm.form.text" md-maxlength="1000" rows="3" require md-select-on-focus>
                </textarea>
                <div ng-messages>
                  {{ vm.descriptionError }}
                </div>
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">

                <md-button type="submit" ng-if="vm.newTask" ng-click="vm.addNewTask()"
                           class="send-button md-accent md-raised" ng-disabled="vm.form.text.length == 0"
                           aria-label="Add Task" translate="TODO.ADD_TASK" translate-attr-aria-label="TODO.ADD_TASK">
                    ADD TASK
                </md-button>

                <md-button type="submit" ng-if="!vm.newTask" ng-click="vm.updateTask()"
                           class="send-button md-accent md-raised" ng-disabled="vm.form.text.length == 0"
                           aria-label="Add Task" translate="TODO.UPDATE_TASK" translate-attr-aria-label="TODO.UPDATE_TASK">
                    ADD TASK
                </md-button>

            </div>

        </md-dialog-actions>
    </form>
</md-dialog>
