<md-dialog class="task-dialog" aria-label="New Task">
    <form name="taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label translate="TODO.DESCRIPTION">Task description</label>
                <textarea name="description" ng-model="vm.form.text" md-maxlength="1000" rows="3" require md-select-on-focus>
                </textarea>
            </md-input-container>


            <div class="md-block">
             <label ng-switch on="vm.form.occurrence">
                 <span ng-switch-when="0">Occurrence : every hour</span>
                 <span ng-switch-when="1">Occurrence : twice a day</span>
                 <span ng-switch-when="2">Occurrence : every day</span>
                 <span ng-switch-when="3">Occurrence : every other day</span>
                 <span ng-switch-when="4">Occurrence : twice a week</span>
                 <span ng-switch-when="5">Occurrence : every week</span>
                 <span ng-switch-when="6">Occurrence : every two weeks</span>
                 <span ng-switch-when="7">Occurrence : twice a month</span>
                 <span ng-switch-when="8">Occurrence : every month</span>
                 <span ng-switch-when="9">Occurrence : every two months</span>
                 <span ng-switch-when="10">Occurrence : every quarter</span>
                 <span ng-switch-when="11">Occurrence : twice a year</span>
                 <span ng-switch-when="12">Occurrence : every year</span>
                 <span ng-switch-default>Occurrence : </span>
             </label>
             <md-slider flex min="0" max="12" ng-model="vm.form.occurrence" aria-label="blue">
             </md-slider>
           </div>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">

                <md-button type="submit" ng-if="vm.newTask" ng-click="vm.addNewTask()"
                           class="send-button md-accent md-raised"
                           aria-label="Add Task" translate="TODO.ADD_TASK" translate-attr-aria-label="TODO.ADD_TASK">
                    ADD TASK
                </md-button>

                <md-button type="submit" ng-if="!vm.newTask" ng-click="vm.updateTask()"
                           class="send-button md-accent md-raised"
                           aria-label="Add Task" translate="TODO.UPDATE_TASK" translate-attr-aria-label="TODO.UPDATE_TASK">
                    ADD TASK
                </md-button>

            </div>

        </md-dialog-actions>
    </form>
</md-dialog>
