<!-- TODO LIST ITEMS -->
<div class="todo-items" ng-sortable="vm.sortableOptions" ng-model="vm.tasks" ng-class="{'sortable': vm.taskOrder === ''}">
    <div class="todo-item" md-ink-ripple layout="row" layout-align="start center"
         ng-click="vm.openTaskDialog($event, task)"
         ng-repeat="task in vm.currTasks | orderBy:vm.taskOrder:vm.taskOrderDescending | filter:global.search | filter:vm.taskFilters.search | filter:vm.filterByStartDate | filter:vm.filterByDueDate track by $index"
         ng-class="{'starred': task.starred, 'selected': task.selected, 'completed': task.completed}">

        <div class="handle" ng-click="vm.preventDefault($event)">
            <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
        </div>

        <md-button ng-if="vm.selectedCategory != 'completed'" class="add-event-button md-fab md-accent md-mini" ng-click="vm.toggleCompleted(task, $event)"
                   ng-disabled="!vm.isActive(task)"
                   aria-label="Task Done">
            <md-icon md-font-icon="icon-check"></md-icon>
            <md-tooltip>
              Mark task as done
            </md-tooltip>
        </md-button>

        <div layout="row" layout-align="start center" flex>

            <div class="info" flex>
                <div class="text">
                    {{task.text}}
                </div>

              <div class="tags" layout="row" layout-align="start center" layout-wrap>
                  <div class="tag" layout="row" layout-align="start center">
                      <div class="tag-label" ng-switch on="task.occurrence">
                        <span ng-switch-when="0">Hourly
                          {{ vm.showActiveDays(task) }}
                        </span>
                        <span ng-switch-when="1">Daily
                          {{ vm.showActiveDays(task) }}
                        </span>
                        <span ng-switch-when="2">
                          Weekly
                          {{ vm.showActiveWeeks(task) }}
                        </span>
                        <span ng-switch-when="3">Monthly
                          {{ vm.showActiveMonths(task) }}
                        </span>

                      </div>
                  </div>
              </div>

            </div>

            <div class="buttons" layout="row" layout-align="start center">

                <md-icon ng-if="vm.selectedCategory != 'tasks' && vm.selectedCategory != 'all-tasks'" class="md-accent-bg unread-message-count">
                  {{task.completed.length}}
                  <md-tooltip class="tt-multiline">
                    <span ng-repeat="t in task.completed">
                      Completed on: {{t.updatedOn | date}}
                    </span>
                  </md-tooltip>
                </md-icon>

                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" translate
                               translate-attr-aria-label="TODO.MORE">
                        <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                    </md-button>

                    <md-menu-content width="3">

                        <md-menu-item>
                            <md-button ng-click="vm.deleteTask(task)" aria-label="Remove task"
                                       translate-attr-aria-label="TODO.REMOVE_TASK">
                                <md-icon ng-class="grey-fg"
                                         md-font-icon="icon-delete" class="s18"></md-icon>
                                <span translate="TODO.REMOVE_TASK">Remove task</span>
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
</div>
<!-- / TODO LIST ITEMS -->
