<!-- TODO LIST ITEMS -->
<div class="todo-items" ng-sortable="vm.sortableOptions" ng-model="vm.tasks" ng-class="{'sortable': vm.taskOrder === ''}">
    <div class="todo-item" md-ink-ripple layout="row" layout-align="start center"
         ng-click="vm.openTaskDialog($event, task)"
         ng-repeat="task in vm.tasks | orderBy:vm.taskOrder:vm.taskOrderDescending | filter:global.search | filter:vm.taskFilters.search | filterByTags:vm.taskFilters.tags | filter:vm.filterByStartDate | filter:vm.filterByDueDate track by $index"
         ng-class="{'starred': task.starred, 'selected': task.selected, 'completed': task.completed}">

        <div class="handle" ng-click="vm.preventDefault($event)">
            <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
        </div>

        <md-checkbox class="no-label" ng-checked="task.complete"
                     ng-click="vm.toggleCompleted(task, $event)"
                     aria-label="{{task.completed ? 'Not completed' : 'Completed'}}">
        </md-checkbox>

        <div layout="row" layout-align="start center" flex>

            <div class="info" flex>
                <div class="text">
                    {{task.text}}
                </div>

              <div class="tags" layout="row" layout-align="start center" layout-wrap>
                  <div class="tag" layout="row" layout-align="start center">
                      <div class="tag-label" ng-switch on="task.occurrence">
                        <span ng-switch-when="0">Every hour</span>
                        <span ng-switch-when="1">Twice a day</span>
                        <span ng-switch-when="2">Every day</span>
                        <span ng-switch-when="3">Every other day</span>
                        <span ng-switch-when="4">Twice a week</span>
                        <span ng-switch-when="5">Every week</span>
                        <span ng-switch-when="6">Every two weeks</span>
                        <span ng-switch-when="7">Twice a month</span>
                        <span ng-switch-when="8">Every month</span>
                        <span ng-switch-when="9">Every two months</span>
                        <span ng-switch-when="10">Every quarter</span>
                        <span ng-switch-when="11">Twice a year</span>
                        <span ng-switch-when="12">Every year</span>
                      </div>
                  </div>
              </div>

            </div>

            <div class="buttons" layout="row" layout-align="start center">

                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" translate
                               translate-attr-aria-label="TODO.MORE">
                        <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="task.completed = !task.completed" aria-label="Toggle done"
                                       translate-attr-aria-label="TODO.TOGGLE_DONE">
                                <md-icon ng-class="task.completed === false ? 'grey-fg' : 'blue-fg'"
                                         md-font-icon="icon-checkbox-marked-circle" class="s18"></md-icon>
                                <span ng-show="!task.completed" translate="TODO.MARK_AS_DONE">Mark as done</span>
                                <span ng-show="task.completed" translate="TODO.MARK_AS_UNDONE">Mark as undone</span>
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button ng-click="task.completed = !task.completed" aria-label="Remove task"
                                       translate-attr-aria-label="TODO.REMOVE_TASK">
                                <md-icon ng-class="task.completed === false ? 'grey-fg' : 'blue-fg'"
                                         md-font-icon="icon-checkbox-marked-circle" class="s18"></md-icon>
                                <span ng-show="!task.completed" translate="TODO.REMOVE_TASK">Remove task</span>
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
</div>
<!-- / TODO LIST ITEMS -->
