<md-dialog class="compose-dialog" aria-label="Update">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" ng-if="!vm.isUpdate">Create Room Type</span>
                <span class="title" ng-if="vm.isUpdate">Update Room Type</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>

          <md-input-container class="md-block">
              <label>Name</label>
              <input ng-model="vm.form.name" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Area Unit</label>
            <md-switch ng-model="vm.form.areaUnit" ng-change="vm.convertUnit()">
              <span ng-if="vm.form.areaUnit">In square feets</span>
              <span ng-if="!vm.form.areaUnit">In square meters</span>
            </md-switch>
          </md-input-container>

          <md-input-container class="md-block">
              <label>Area</label>
              <input ng-model="vm.form.area" type="number">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Rooms</label>
            <md-chips md-separator-keys="vm.seperators" ng-model="vm.form.rooms" md-on-add="" md-on-remove="" md-removable="true" readonly="false" placeholder="Add rooms">
            </md-chips>
          </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.createRoom()" ng-if="!vm.isUpdate" id="send-request" class="send-button md-accent md-raised" aria-label="Add">
                    Create Room
                </md-button>

                <md-button ng-click="vm.updateRoom()" ng-if="vm.isUpdate" id="send-request" class="send-button md-accent md-raised" aria-label="Add">
                    Update Room
                </md-button>
            </div>

        </md-dialog-actions>
    </form>
</md-dialog>
