<md-list class="friends">
    <md-subheader class="md-no-sticky">
        <span translate="QUICKPANEL.ACTIVITIES">Activities</span>
    </md-subheader>

    <md-list-item  class="md-whiteframe-6dp friend md-3-line" ng-repeat="activity in vm.activities">
      <img ng-src="{{activity.avatar}}" class="md-avatar" alt="{{activity.author}}"/>

      <div ng-if="contact.unread" class="md-accent-bg unread-message-count">{{contact.unread}}</div>

      <div class="md-list-item-text">
          <h3 class="message">{{activity.text}}</h3>
          <p class="time">{{activity.date | date:'m'}}</p>
      </div>
    </md-list-item>

</md-list>
