<md-list class="friends">
    <md-subheader class="md-no-sticky">
        <span translate="QUICKPANEL.ACTIVITIES">Activities</span>
    </md-subheader>

    <md-list-item ng-style="vm.getColor(activity.type)"
                  aria-label="activity-box"
                  ng-click="vm.openDialogs(activity.type)"
                  class="md-3-line"
                  ng-repeat="activity in vm.activities | orderBy:'-createdOn' track by activity._id">
      <activity-box activity="activity"></activity-box>
    </md-list-item>

</md-list>
