
    <!-- WIDGET 11 -->
    <ms-widget layout="row" flex="100" ng-cloak="">

        <!-- Front -->
        <ms-widget-front class="white-bg">

            <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                <div class="h2">Community Members</div>
                <div class="text-boxed red-bg white-fg m-0">{{vm.communityMemberTable.length}}
                    members
                </div>
            </div>

            <table class="row-border hover" datatable="ng" dt-options="vm.communityMemberWidget.dtOptions">
                <thead>
                    <tr>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title"></span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Name</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Email</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Director</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Minion</span>
                          </div>
                      </th>

                      <th class="secondary-text" ng-if="vm.bothRoles == 2">
                          <div class="table-header">
                              <span class="column-title">Boss</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Fab</span>
                          </div>
                      </th>
                      <!-- <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Remove</span>
                          </div>
                      </th> -->


                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title"></span>
                          </div>
                      </th>


                    </tr>
                </thead>
                <tbody>
                    <md-radio-group ng-model="data.group1">
                    <tr ng-repeat="row in  vm.communityMemberTable track by $index">
                      <!-- User image -->
                      <td>
                        <img class="avatar"
                             ng-src="{{row[0] }}">
                      </td>

                      <!-- User name -->
                      <td>
                        <span> {{ row[1]}} </span>
                      </td>

                      <!-- User email -->
                      <td>
                        <span> {{ row[2]}} </span>
                      </td>

                      <!-- Director checkbox -->
                      <td>
                        <span ng-if="row[1] !== vm.username">
                          <input type="radio" ng-value="true" name="group {{ $index}}" ng-model="row[5]" ng-change="vm.addRole(row[3], 'directors')" value="Director"> Director<br>
                       </span>
                      </td>

                      <!-- Minions checkbox -->
                      <td>
                        <span ng-if="row[1] !== vm.username">
                          <input type="radio"  ng-value="true" name="group {{ $index}}" ng-model="row[6]" ng-change="vm.addRole(row[3], 'minions')" value="Minion"> Minion<br>
                        </span>
                      </td>

                      <!-- Boss checkbox shows up only if the user is also a creator -->
                      <td ng-if="vm.bothRoles == 2">
                        <input type="radio" name="creator" ng-value="true" ng-model="row[4]" ng-change="vm.addRole(row[3], 'boss')"> Boss<br>
                      </td>

                      <!-- Fab button -->
                      <td>
                        <!-- <md-button ng-if="row[1] !== vm.username" ng-click="vm.openRecoverModal(row[3], row[1], 'boss')" class="md-raised md-primary">Recover</md-button> -->
                        <md-fab-speed-dial md-direction="up" md-open="false" class="md-scale">
                          <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-warn">
                              <md-icon md-font-icon="icon-menu"></md-icon>
                            </md-button>
                          </md-fab-trigger>

                          <md-fab-actions style="position: absolute; bottom: 60px;">
                            <md-button aria-label="Logs" class="md-fab md-raised md-mini">
                              <md-icon md-font-icon="icon-account-network" aria-label="Logs"></md-icon>
                              <md-tooltip md-direction="left"> Ip Logs <md-tooltip>
                            </md-button>
                            <md-button aria-label="Recover" ng-if="row[1] !== vm.username" ng-click="vm.openRecoverModal(row[3], row[1], 'boss')" class="md-fab md-raised md-mini">
                              <md-icon md-font-icon="icon-account-key" aria-label="Recover"></md-icon>
                              <md-tooltip md-direction="left"> Recover <md-tooltip>
                            </md-button>
                            <md-button aria-label="Remove" ng-if="row[1] !== vm.username" ng-click="vm.removeMember(row[3], row[1])" class="md-fab md-raised md-mini">
                              <md-icon md-font-icon="icon-account-remove" aria-label="Remove"></md-icon>
                              <md-tooltip md-direction="left"> Remove <md-tooltip>
                            </md-button>
                          </md-fab-actions>
                        </md-fab-speed-dial>
                      </td>

                      <!-- Remove member button -->
                      <!-- <td>
                        <md-button ng-if="row[1] !== vm.username" class="md-raised" ng-click="vm.removeMember(row[3], row[1])">Remove</md-button>
                      </td> -->

                      <!-- Confidential you were choosen to enter recovery pass as random user -->
                      <td>
                        <span ng-if="vm.chosenUser == row[3]">
                          <md-icon md-menu-origin md-font-icon="icon-account-key"></md-icon>
                        </span>

                      </td>


                    </tr>
                  </md-radio-group>
                </tbody>
            </table>

        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
    <!-- / WIDGET 11 -->
