<md-input-container>
  <span>Communicated With: </span>
  <md-checkbox ng-model="vm.form.communicatedWithResident" aria-label="Communicated With Resident">
    <b>Resident</b>
  </md-checkbox>
</md-input-container>

<md-input-container>
  <md-checkbox ng-model="vm.form.communicatedWithPrimaryContact" aria-label="Communicated With Primary Contact">
    <b>Primary Contact</b>
  </md-checkbox>
</md-input-container>

<md-input-container>
  <md-checkbox ng-model="vm.form.communicatedWithTrustedPerson" aria-label="Communicated With Trusted Person">
    <b>Trusted Person</b>
  </md-checkbox>
</md-input-container>
