<md-input-container>
  <span class="communicated-with-title">Communicated With </span>
  <md-checkbox ng-model="vm.form.communicatedWithResident" aria-label="Communicated With Resident">
    <b class="resident-checkbox-title">Resident</b>
  </md-checkbox>

</md-input-container>

<md-input-container ng-if="vm.hasPrimaryContact">
  <md-checkbox  ng-model="vm.form.communicatedWithPrimaryContact" aria-label="Communicated With Primary Contact">
    <b class="primary-contact-checkbox">Primary Contact</b>
  </md-checkbox>

</md-input-container>

<md-input-container ng-if="vm.hasTrustedPerson">
  <md-checkbox ng-model="vm.form.communicatedWithTrustedPerson" aria-label="Communicated With Trusted Person">
    <b class="trusted-checkbox-title">Trusted Person</b>
  </md-checkbox>
</md-input-container>
