<md-dialog class="compose-dialog" aria-label="Update">
  <form class="md-inline-form">
    
    <div ng-include="'app/main/residents/dialogs/update/header.html'"></div>

    <md-dialog-content ms-scroll>

      <md-input-container class="md-block">
        <label>Temperature</label>
        <input ng-model="vm.form.newtemperature.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newtemperature.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Blood Pressure Systolic</label>
        <input ng-model="vm.form.newbloodPressureSystolic.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newbloodPressureSystolic.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Blood Pressure Diastolic</label>
        <input ng-model="vm.form.newbloodPressureDiastolic.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newbloodPressureDiastolic.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Oxygen Saturation</label>
        <input ng-model="vm.form.newoxygenSaturation.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newoxygenSaturation.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Pulse</label>
        <input ng-model="vm.form.newpulse.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newpulse.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Vitals Pain</label>
        <input ng-model="vm.form.newvitalsPain.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newvitalsPain.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Respiration</label>
        <input ng-model="vm.form.newrespiration.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newrespiration.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Weight</label>
        <input ng-model="vm.form.newweight.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newweight.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.tracksINR" ng-hide="vm.showCancel">
          Tracks INR
        </md-checkbox>
      </md-input-container>

      <div layout="row" layout-align="space-around center">
        <md-input-container ng-if="vm.form.tracksINR">
          <label>How Often</label>
          <md-select ng-model="vm.form.howOftenINR">
            <md-option value="Daily">Daily</md-option>
            <md-option value="Weekly">Weekly</md-option>
            <md-option value="Monthly">Monthly</md-option>
            <md-option value="Yearly">Yearly</md-option>
          </md-select>
        </md-input-container>

        <md-input-container ng-if="vm.form.tracksINR">
          <label>By Whom</label>
          <md-select ng-model="vm.form.byWhomINR">
            <md-option value="Self">Self</md-option>
            <md-option value="Clinic">Clinic</md-option>
            <md-option value="Outside Agency">Outside Agency</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-input-container class="md-block" ng-if="vm.form.tracksINR">
        <label>INR Value</label>
        <input ng-model="vm.form.newinternationalNormalizedRatio.data" type="number">
        <div ng-messages="">
            <div ng-if="!vm.isNumber(vm.form.newinternationalNormalizedRatio.data)">
              Must be a Number
            </div>
        </div>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start start">
        <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
          UPDATE
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
