<md-dialog class="compose-dialog" aria-label="Update">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">{{ (vm.form.aliasName) ? vm.form.aliasName : vm.form.firstName}} {{vm.form.lastName}} - Nutrition</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

      <div class="md-block">
       <label>
           <span>Overall Nutrition : {{vm.replaceNumberValue('overallNutrition', vm.form.overallNutrition)}}</span>
       </label>
       <md-slider flex min="0" max="3" ng-model="vm.form.overallNutrition" aria-label="blue">
       </md-slider>
     </div>

      <md-input-container>
        <label>Overall Nutrition</label>
        <md-select ng-model="vm.form.overallNutrition">
          <md-option value="Good">Good</md-option>
          <md-option value="Poor">Poor</md-option>
        </md-select>
      </md-input-container>

      <md-input-container ng-if="vm.form.overallNutrition == 'Poor'">
        <label>Poor Nutrition Describtion</label>
        <md-select ng-model="vm.form.poorNutritionDescribe">
          <md-option value="Shake">Shake</md-option>
          <md-option value="Bedtime Snack">Bedtime Snack</md-option>
          <md-option value="Resident's Choice">Resident's Choice</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.diabetic" ng-hide="vm.showCancel" aria-label="Diabetic">
          Diabetic
        </md-checkbox>
      </md-input-container>

      <md-input-container ng-if="vm.form.diabetic">
        <label>Diabetic Type</label>
        <md-select ng-model="vm.form.diabeticType">
          <md-option value="Diet Controlled">Diet Controlled</md-option>
          <md-option value="Medication Controlled">Medication Controlled</md-option>
          <md-option value="Insulin Controlled">Insulin Controlled</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.diabetic">
        <md-checkbox ng-model="vm.form.bloodSugarMonitoring" aria-label="Diabetic">
          Blood Sugar Monitoring
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.bedtimeSnack" aria-label="Bedtime Snack">
          Bedtime Snack
        </md-checkbox>
      </md-input-container>

      <md-input-container>
        <label>Adaptive Equipment</label>
        <md-select ng-model="vm.form.adaptiveEquipment">
          <md-option value="Plate Guard">Plate Guard</md-option>
          <md-option value="Builtup Silverware">Builtup Silverware</md-option>
          <md-option value="Special Cups">Special Cups</md-option>
          <md-option value="None">None</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Type of Diet</label>
        <md-select ng-model="vm.form.typeOfDiet">
          <md-option value="BRAT">BRAT</md-option>
          <md-option value="Gluten free">Gluten free</md-option>
          <md-option value="Full vegan">Full vegan</md-option>
          <md-option value="Partial vegan">Partial vegan</md-option>
          <md-option value="Lactose free">Lactose free</md-option>
          <md-option value="Other">Other</md-option>
          <md-option value="Regular">Regular</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Special Diet</label>
        <md-select ng-model="vm.form.specialDiet">
          <md-option value="Pureed">Pureed</md-option>
          <md-option value="Ground">Ground</md-option>
          <md-option value="Regular">Regular</md-option>
          <md-option value="Soft">Soft</md-option>
        </md-select>
      </md-input-container>

      <label>Food likes </label>
      <md-chips ng-model="vm.foodLikes" md-separator-keys="vm.seperators" readonly="false" md-on-add="vm.updateChip(vm.foodLikes, 'foodLikes', $chip, 'add')" md-on-remove="vm.updateChip(vm.foodLikes, 'foodLikes', $chip, 'remove')" md-removable="true" placeholder="Add new food">
      </md-chips>

      <br />

      <label>Food dislikes </label>
      <md-chips ng-model="vm.foodDislikes" md-separator-keys="vm.seperators" readonly="false" md-on-add="vm.updateChip(vm.foodDislikes, 'foodDislikes', $chip, 'add')" md-on-remove="vm.updateChip(vm.foodDislikes, 'foodDislikes', $chip, 'remove')" md-removable="true" placeholder="Add new food">
      </md-chips>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.fingerFoods" ng-hide="vm.showCancel" aria-label="Needs Food In Small Peices">
          Finger Foods
        </md-checkbox>
      </md-input-container>

      <md-input-container>
        <label>Feed Assist</label>
        <md-select ng-model="vm.form.feedAssist">
          <md-option value="Independent">Independent</md-option>
          <md-option value="Reminder">Reminder</md-option>
          <md-option value="Partial assistance">Partial assistance</md-option>
          <md-option value="Full assistance">Full assistance</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.foodInRoom" aria-label="Food In Room">
          Food In Room
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.drinkInRoom" aria-label="Drink In Room">
          Drink In Room
        </md-checkbox>
      </md-input-container>

      <md-input-container flex class="md-block textarea-container">
        <label>Notes</label>
        <textarea ng-model="vm.form.nutritionNotes"></textarea>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start start">
        <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
          UPDATE
        </md-button>
      </div>

      <div ng-include="'app/main/residents/dialogs/update/footer.html'">
      </div>

    </md-dialog-actions>
  </form>
</md-dialog>
