<md-dialog class="compose-dialog" aria-label="Update">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Update resident - Bathing</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <div layout="row" layout-align="space-around center">
        <md-input-container>
          <label>Type of Bathing</label>
          <md-select ng-model="vm.form.typeOfBathing">
            <md-option value="Shower">Shower</md-option>
            <md-option value="Bathtub">Bathtub</md-option>
            <md-option value="Spit Bath">Spit Bath</md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Time of Bathing</label>
          <md-select ng-model="vm.form.timeOfBathing">
            <md-option value="Morning">Morning</md-option>
            <md-option value="Evening">Evening</md-option>
            <md-option value="Before Breakfast">Before Breakfast</md-option>
            <md-option value="After Breakfast">After Breakfast</md-option>
            <md-option value="Before Supper">Before Supper</md-option>
            <md-option value="After Supper">After Supper</md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Acceptance of Bathing</label>
          <md-select ng-model="vm.form.acceptanceOfBathing">
            <md-option value="Likes">Likes</md-option>
            <md-option value="Dislikes">Dislikes</md-option>
            <md-option value="Refuses">Refuses</md-option>
            <md-option value="Indifferent">Indifferent</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="md-block">
         <label>
             <span>Frequency of Bathing : {{ vm.replaceNumberValue('frequencyOfBathing', vm.form.frequencyOfBathing)}}</span>
         </label>
         <md-slider flex min="0" max="4" ng-model="vm.form.frequencyOfBathing" aria-label="blue">
         </md-slider>
      </div>

      <span ng-if="vm.form.frequencyOfBathing == 1 || vm.form.frequencyOfBathing == 2 || vm.form.frequencyOfBathing == 3">
        <label>Bathing Days </label>
        <md-chips md-separator-keys="vm.seperators" ng-model="vm.bathingDays" md-on-add="vm.updateChip(vm.bathingDays,'bathingDays', $chip, 'add')" md-on-remove="vm.updateChip(vm.bathingDays,'bathingDays', $chip, 'remove')" md-removable="true" readonly="false" placeholder="Add new day">
        </md-chips>
     </span>

      <br />

      <md-input-container class="md-block" ng-if="vm.form.acceptanceOfBathing == 'Dislikes'">
        <label>Why Dislikes Bathing</label>
        <textarea ng-model="vm.form.dislikesBathingDescribe" rows="5"></textarea>
      </md-input-container>

      <md-input-container>
        <label>Bathing Assist</label>
        <md-select ng-model="vm.form.bathingAssist">
          <md-option value="Full Assistance">Full Assistance</md-option>
          <md-option value="Standby">Standby</md-option>
          <md-option value="Independent">Independent</md-option>
          <md-option value="Partial Assistance">Partial Assistance</md-option>
        </md-select>
      </md-input-container>


      <md-input-container flex class="md-block textarea-container">
        <label>Notes</label>
        <textarea ng-model="vm.form.bathingNotes"></textarea>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start start">
        <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
          UPDATE
        </md-button>
      </div>

      <div ng-include="'app/main/residents/dialogs/update/footer.html'">
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
