<md-dialog class="compose-dialog" aria-label="Update">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Update Resident - Psychosocial</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

      <div layout="column" layout-align="start start">
          <h4>Psychosocial Status (check all that apply) </h4>

          <md-checkbox ng-repeat="status in vm.status" ng-model="status.active">
            {{ status.title}}
          </md-checkbox>
      </div>

      <md-input-container class="md-block">
        <label>Describe the Psychosocial Status</label>
        <input ng-model="vm.form.psychosocialStatusDescribe" type="text">
      </md-input-container>

      <div class="md-block">
        <label>
          <span>Comprehension : {{vm.replaceNumberValue('comprehension', vm.form.comprehension)}}</span>
        </label>
        <md-slider flex min="0" max="2" ng-model="vm.form.comprehension" aria-label="blue">
        </md-slider>
      </div>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.sunDowner">
          Sun Downer
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.sunDowner == true">
        <label>Sun Downer Explain</label>
        <input ng-model="vm.form.sunDownerExplain" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.wanderer">
          Wanderer
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.anxiety">
          Anxiety
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.anxiety == true">
        <label>Antipsychotic Meds</label>
        <input ng-model="vm.form.antipsychoticMeds" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.smokes" ng-hide="vm.showCancel" aria-label="Smokes">
          Smokes
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.smokes">
        <label>Smoke Description</label>
        <input ng-model="vm.form.smokesDescribe" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.alcohol" ng-hide="vm.showCancel" aria-label="Smokes">
          Alcohol
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.alcohol">
        <label>Alcohol In Room</label>
        <input ng-model="vm.form.alcoholInRoom" type="text">
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.alcohol">
        <label>Alcohol Description</label>
        <input ng-model="vm.form.alcoholDescribes" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.sexualActive" ng-hide="vm.showCancel" aria-label="Smokes">
          Sexual Active
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.sexualActive">
        <label>Sexual Activity Description</label>
        <input ng-model="vm.form.sexualActiveDescribe" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Other Habits</label>
        <input ng-model="vm.form.otherHabits" type="text">
      </md-input-container>

      <div class="md-block">
       <label>
          <span>General Activity Participation : {{vm.replaceNumberValue('generalActivityParticipation', vm.form.generalActivityParticipation)}}</span>
       </label>
       <md-slider flex min="0" max="3" ng-model="vm.form.generalActivityParticipation" aria-label="blue">
       </md-slider>
     </div>

     <div class="md-block">
      <label>
          <span>Dining Room Participation : {{vm.replaceNumberValue('diningRoomParticipation', vm.form.diningRoomParticipation)}}</span>
      </label>
      <md-slider flex min="0" max="3" ng-model="vm.form.diningRoomParticipation" aria-label="blue">
      </md-slider>
    </div>

    <div class="md-block">
     <label>
        <span>Bus Ride Participation : {{vm.replaceNumberValue('busRideParticipation', vm.form.busRideParticipation)}}</span>
     </label>
     <md-slider flex min="0" max="3" ng-model="vm.form.busRideParticipation" aria-label="blue">
     </md-slider>
   </div>

   <div class="md-block">
    <label>
      <span>Fitness Class Participation : {{vm.replaceNumberValue('fitnessClassParticipation', vm.form.fitnessClassParticipation)}}</span>
    </label>
    <md-slider flex min="0" max="3" ng-model="vm.form.fitnessClassParticipation" aria-label="blue">
    </md-slider>
  </div>

  <div class="md-block">
   <label>
     <span>Bingo Participation : {{vm.replaceNumberValue('bingoParticipation', vm.form.bingoParticipation)}}</span>
   </label>
   <md-slider flex min="0" max="3" ng-model="vm.form.bingoParticipation" aria-label="blue">
   </md-slider>
 </div>

 <div class="md-block">
  <label>
    <span>Community Participation : {{vm.replaceNumberValue('communityParticipation', vm.form.communityParticipation)}}</span>
  </label>
  <md-slider flex min="0" max="3" ng-model="vm.form.communityParticipation" aria-label="blue">
  </md-slider>
</div>


      <md-input-container>
        <label>Time in Room</label>
        <md-select ng-model="vm.form.timeInRoom">
          <md-option>Reading</md-option>
          <md-option>TV</md-option>
          <md-option>Game</md-option>
          <md-option>Hobby</md-option>
          <md-option>Computer</md-option>
          <md-option>Radio</md-option>
          <md-option>Other</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.volunteer" aria-label="Volunteer">
          Volunteer
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.drivesCar" ng-hide="vm.showCancel" aria-label="Smokes">
          Has Car
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.drivesCar">
        <label>License Plate Number</label>
        <input ng-model="vm.form.licensePlateNumber" type="number">
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.drivesCar">
        <label>Spare Key Location</label>
        <input ng-model="vm.form.spareKeyLocation" type="text">
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.drivesCar">
        <label>Driving Needs</label>
        <input ng-model="vm.form.drivingNeeds" type="text">
      </md-input-container>

      <md-input-container>
        <label>Preferred Activites</label>
        <input ng-model="vm.form.preferedActivites" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.useFitnessEquipmentIndependently" aria-label="Smokes">
          Uses Fitness Equipment Independently
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <label>High Maintenance: {{ vm.form.highMaintenance }}</label>
        <md-slider flex min="0" max="100" ng-model="vm.form.highMaintenance" aria-label="blue">
        </md-slider>
      </md-input-container>

      <md-input-container>
        <label>High Maintenance Describe</label>
        <input ng-model="vm.form.highMaintenanceDescribe" type="text">
      </md-input-container>

      <md-input-container>
        <label>Family Involvement</label>
        <md-select ng-model="vm.form.familyInvolvement">
          <md-option>None</md-option>
          <md-option>Some</md-option>
          <md-option>Frequent</md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex class="md-block textarea-container">
        <label>Notes</label>
        <textarea ng-model="vm.form.psychosocialNotes"></textarea>
      </md-input-container>

      <div class="md-block">
       <label>
         <span>Dementia : {{vm.replaceNumberValue('dementia', vm.form.dementia)}}</span>
       </label>
       <md-slider flex min="0" max="3" ng-model="vm.form.dementia" aria-label="blue">
       </md-slider>
     </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start start">
        <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
          UPDATE
        </md-button>
      </div>

      <div ng-include="'app/main/residents/dialogs/update/footer.html'">
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
