<md-dialog class="compose-dialog" aria-label="Update">
  <form class="md-inline-form">
    
    <div ng-include="'app/main/residents/dialogs/update/header.html'"></div>

    <md-dialog-content ms-scroll>

      <label>Food allergies </label>
      <md-chips md-separator-keys="vm.seperators" ng-model="vm.foodAllergies" md-on-add="vm.updateChip(vm.foodAllergies,'foodAllergies', $chip, 'add')" md-on-remove="vm.updateChip(vm.foodAllergies,'foodAllergies', $chip, 'remove')" md-removable="true" readonly="false" placeholder="Add new food">
      </md-chips>

      <br />

      <label>Medication Allergies </label>
      <md-chips md-separator-keys="vm.seperators" ng-model="vm.medicationAllergies" md-on-add="vm.updateChip(vm.medicationAllergies, 'medicationAllergies', $chip, 'add')" md-on-remove="vm.updateChip(vm.medicationAllergies, 'medicationAllergies', $chip, 'remove')" md-removable="true" readonly="false" placeholder="Add new medication">
      </md-chips>

      <br />

      <label>Other Allergies </label>
      <md-chips md-separator-keys="vm.seperators" ng-model="vm.form.otherAllergies" md-on-add="vm.updateChip(vm.otherAllergies,'otherAllergies', $chip, 'add')" md-on-remove="vm.updateChip(vm.otherAllergies,'otherAllergies', $chip, 'remove')" md-removable="true" readonly="false" placeholder="Add other allergies">
      </md-chips>

      <md-input-container flex class="md-block textarea-container">
        <label>Notes</label>
        <textarea ng-model="vm.form.allergyNotes"></textarea>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start start">
        <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
          UPDATE
        </md-button>
      </div>

      <div ng-include="'app/main/residents/dialogs/update/footer.html'">
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
