<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
  <div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
  </div>

  <div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">


      <div layout="column" layout-align="start start">
        <!-- Add details content here -->

        <h4>Continent Independent : {{ vm.selectedResident.continentIndependent}} </h4>
        <h4>Colostomy : {{ vm.selectedResident.colostomy}} </h4>

        <h4>Bowel Continent :
          {{vm.replaceNumberValue('bowelContinent', vm.selectedResident.bowelContinent)}}
        </h4>

        <h4>Constipated :
          {{vm.replaceNumberValue('constipated', vm.selectedResident.constipated)}}
        </h4>

        <h4>Laxative: {{vm.selectedResident.laxative}} </h4>

        <h4>Bladder Continent :
          {{vm.replaceNumberValue('bladderContinent', vm.selectedResident.bladderContinent)}}
        </h4>

        <h4>Dribbles :
          {{vm.replaceNumberValue('dribbles', vm.selectedResident.dribbles)}}
        </h4>

        <h4>Urostomy: {{vm.selectedResident.urostomy}} </h4>
        <h4>Catheter : {{ vm.selectedResident.catheter }}</h4>
        <h4 ng-if="vm.selectedResident.catheter">
          Describe Catheter : {{ vm.selectedResident.catheterDescribe }}
        </h4>
        <h4>Toileting Device : {{ vm.selectedResident.toiletingDevice }}</h4>

        <h4>Incontinent Apparel: {{vm.selectedResident.incontinentApparel}}</h4>
        <h4>Incontinent Apparel Assist: {{vm.selectedResident.incontinentApparelAssist}}</h4>
        <h4>Toilet Transfer: {{vm.selectedResident.toiletTransfer}}</h4>
        <h4>Toileting Assist: {{vm.selectedResident.toiletingAssist}}</h4>
        <h4>Toileting Reminder: {{vm.selectedResident.toiletingReminder}}</h4>

        <h4>Notes: {{ vm.selectedResident.continentNotes }} </h4>

      </div>
    </div>
  </div>
</div>
